@charset "utf-8";

html {font-size: 56.3%;}


.brand .sec1 {
    height: 800px;
    padding-top: 70px;
}

.brand .sec1 .inner_wrap h2 {
    position: static;
    transform: translateY(0);
    text-align:center;
    font-size: 45px;
    padding-bottom: 80px;
}

.brand .sec1 .inner_wrap h2 br {display: none;}

.brand .sec1 .inner_wrap .left {
    width: 29.2%;
    min-width: 200px;
    height: 300px;
}

.brand .sec1 .inner_wrap .right {
    float: right;
    width: 67%;
}

.brand .sec1 .inner_wrap .right .sub_title {
    text-align: left ;
    padding: 60px 0 50px;
}

.brand .sec1 .inner_wrap .right p:nth-of-type(2),
.brand .sec1 .inner_wrap .right p:nth-of-type(3) {display: none;}

.brand .sec1 .inner_wrap .right p:last-child {
    padding-top: 0;
}

.brand .sec2 {padding-top: 80px;}


.brand .sec2 .content li .img_box1 {
    height: 328px;
}
.brand .sec2 .content li .img_box2 {
    height: 273px;
}
.brand .sec2 .content li .img_box3 {
    height: 376px;
}
.brand .sec2 .content li .img_box4 {
    height: 246px;
}

/* history */

.history div[class^=sec] {height: 600px; color: #fff;}

.history div[class^=sec] .inner_wrap {
    max-width: 824px;
}

.history div[class^=sec]:nth-child(odd) {padding-top: 60px;}

.history div[class^=sec]:nth-child(odd) .inner_wrap > div {
    width: 50%;
    min-width: auto;
}

.history div[class^=sec]:nth-child(even) {padding-top: 100px;}
.history div[class^=sec]:nth-child(even) .inner_wrap > div {
    width: 50%;
    min-width: auto;
}

/* news-letter */
