@charset "utf-8";

html {
    font-size: 50%;
}

header {
    height: 300px;
}

.swiper.sub {
    height: auto;
    position: relative;
}

.sport nav {
    height: 75px;
    line-height: 70px;
}

.sport nav a {
    width: 55px;
    padding: 0;
    height: 55px;
    margin-right: 10px;
}

.sport nav a:nth-child(2) span:nth-child(2) {
    display: none;
}

.sport nav a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.sport nav a br {
    display: block;
}

.swiper.sub {
    padding-top: 30px;
}
.swiper.sub .swiper-wrapper {
    flex-direction: column;
}

.swiper.sub .swiper-wrapper div[class*=factor] {
    background: unset;
    padding-bottom: 20px;
}

.swiper.sub .swiper-wrapper div[class*=factor]:last-child {
    padding-bottom: 0;
}

.swiper.sub .swiper-wrapper .content {
    width: 82.8%;
    max-width: 476px;
    background: unset;
    padding: 10px 0;
    color: var(--color2);
    margin: 0 auto;
    position: static;

}

.swiper.sub .swiper-wrapper .content h2 {
    font-size: 30px;
}

.swiper.sub .swiper-wrapper .content h2::after {
    height: 15px;
}

.swiper.sub .swiper-wrapper .content .img_box {
    height: 290px;
    padding: 12px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.swiper.sub .swiper-wrapper .content .img_box img {
    height: 238px;
}

.swiper.sub .swiper-wrapper .content .img_box::after {
    width: 64px;
    height: 20px;
    bottom: 10px;
    right: 12px;
}

.swiper.sub .swiper-wrapper .content .menu li a {
    border: 1px solid var(--color2);
    color: var(--color2);
}

.swiper.sub .swiper-wrapper video[class^=sub_vd] {
    display: none;
}

.swiper.sub .swiper-pagination {display: none;}

/* campaign */

.campaign .inner_wrap div[class^=sec] {
    height: auto;
}

.campaign .inner_wrap div[class^=sec] .sub_bg {
    float: unset;
    width: 100%;
    height: 75vh;
    background-attachment: fixed;
}

.campaign .inner_wrap div[class^=sec] .text_box .content li .img1 {
    width: 58.8%;
    min-width: 200px;
}

.campaign .inner_wrap div[class^=sec] .text_box .content li .img2 {
    width: 58.8%;
    min-width: 200px;
}

.campaign .inner_wrap .sec1 .text_box .content li .img1,
.campaign .inner_wrap .sec2 .text_box .content li .img1,
.campaign .inner_wrap .sec3 .text_box .content li .img1,
.campaign .inner_wrap .sec1 .text_box .content li .img2 {
    height: 200px;
}

.campaign .inner_wrap .sec1 .text_box .content li.reverse {
    margin-top: 60px;
    padding-bottom: 20px;
}

.campaign .inner_wrap div[class^=sec] .text_box {
    float: unset;
    width: 97%;
    max-width: 487px;
    min-width: 350px;
    padding: 30px 10px;
    margin: 0 auto;
    height: 600px;
}

.campaign .inner_wrap div[class^=sec] .text_box h3 {
    font-size: 24px;
    padding-bottom: 30px;
}

.campaign .inner_wrap div[class^=sec] .text_box .content li dl {
    width: 77.3%;
    min-width: 263px;
    margin-top: 10px;
}

.campaign .inner_wrap div[class^=sec] .text_box .content li dd {
    padding-bottom: 0;
}

.campaign .inner_wrap div[class^=sec] .text_box .content li dl dd:not(.mobile) {
    display: none;
}


.campaign .inner_wrap div[class^=sec] .text_box .sign_box {
    width: 88.2%;
    margin-top: 40px;
    padding: 40px 20px 20px;
}

.campaign .inner_wrap .sec2 .text_box .sign_box {
    height: 310px;
}

.campaign .inner_wrap .sec3 .text_box .sign_box {
    height: 280px;
}



.campaign .inner_wrap div[class^=sec] .text_box .sign_box .bt_box {
    right: 20px;
    bottom: 20px;
    /* border: 2px solid var(--color2); */
    /* padding: 5px 10px; */
}

/* wornWear */

.wornWear {
    height: auto;
}
.wornWear .sub_bg {
    height: 200px;
}

.wornWear .content {
    padding-top: 0;
    max-width: 520px;
    width: 97%;
}

.wornWear .content li {
    padding-bottom: 10px;
    margin-top: 40px;
}

.wornWear .content li:nth-of-type(3) {
    padding-bottom: 80px;
}

.wornWear .content li div[class^=img_box] {
    width: 68.8%;
    position: absolute;
    z-index: -1;
    height: 200px;
}

.wornWear .content li:nth-child(odd) div[class^=img_box] {
    float: unset;
    left: 0;
    top: 0;
}

.wornWear .content li:nth-child(even) div[class^=img_box] {
    float: unset;
    right: 0;
    top: 0;
}

.wornWear .content li dl {
    padding: 10px;
    width: 64%;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: var(--color7);
    box-shadow: 0 2px 10px #000;
    /* color: #000; */
    color: var(--color2);
}

.wornWear .content li:nth-child(even) dt,
.wornWear .content li:nth-child(odd) dt {
    text-align: center;
}

.wornWear .content li:nth-child(odd) dl {
    float: right;
    margin: 40px 15px 0 0;
}

.wornWear .content li:nth-child(even) dl {
    float: left;
    margin: 40px 0 0 15px;
}

.wornWear .content li dt {
    padding-bottom: 30px;
    font-size: 14px;
}

.wornWear .master {
    margin-top: 0;
    padding-top: 115px;
    height: 350px;
    color: #fff;
}

.wornWear .master h2 {
    font-size: 30px;
}

.wornWear .master h2,
p {
    text-align: center;
}

.wornWear .master p:nth-of-type(1) {
    padding: 10px 0 20px;
    font-size: 1.8rem;
}

.wornWear .master p .bt_box {
    padding: 5px 20px;
    border: 2px solid #fff;
    color: #fff;
}
