@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

.clearfix::after {
    clear: both;
    display: block;
    content: "";
}

b,
i,
span,
strong {
    font-size: 1em;
}

.inner {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

/* nav */
header section {
    height: 60px;
    background-color: #F5F5F5;
}

header section .wrap {
    max-width: 1200px;
    height: inherit;
    padding: 10px 0;
    width: 98%;
}

header section h1 {
    display: inline-block;
    height: 40px;
}

header section h1 a {
    display: inline-block;
    color: transparent;
    overflow: hidden;
    background: url('../img/main/logo.png') center no-repeat;
    background-size: contain;
    height: 40px;
    width: 180px;
}

header section .symbol {
    height: 40px;
    padding-left: 10px;
}

header section .right {
    float: right;
    display: flex;
    height: 40px;
    align-items: center;
}

header section .right .search_bar{
    width: 200px;
    height: 30px;
    border: 1.5px solid #D01F2D;
    border-radius: 50px;
    padding: 5px 10px;
    position: relative;
}

header section .right .search_bar input:first-child {
    width: 130px;
    font-size: 12px;
    vertical-align: middle;
    background: none;
    border: none;
}

header section .right .search_bar input.submit_bt {
    border: none;
    background: none;
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

header section .right .mourning_bt {
    margin-left: 10px;
    text-align: center;
    font: normal 400 14px "Nanum Brush Script", cursive;
    color: #fff;
    width: 45px;
    height: 100%;
    display: inline-block;
    vertical-align: baseline;
    background: url('../img/icon/icon_하트.svg') center no-repeat;
    background-size: contain;
    position: relative;
}

header section .right .mourning_bt span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

header nav {
    background-color: #d8d8d885;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

header nav .m_bt{display: none;}

header nav .gnb {
    display: flex;
    height: 60px;
    align-items: center;
    max-width: 932px;
    justify-content: space-between;   
}


header nav .gnb .m_text {display: none;}

/* sub */

header nav .snb {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    /* height: 0; */
    height: auto;
    overflow: hidden;
    background-color: #d8d8d8;
    display: none;
}

header nav .snb .wrap {
    max-width: 1200px;
    width: 98%;
}

header nav .snb .wrap ul[class*=menu] {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

header nav .snb .wrap ul[class*=menu] > li {
    flex: 0 0 24%;
    text-align: center;
    margin-bottom: 10px;
}

header nav .snb .wrap ul[class*=menu] > li a {
    background: #fff;
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

header nav .snb .wrap ul[class*=menu] > li > ul{
    text-align: left;
    background-color: unset;
    padding-top: 10px;
}

header nav .snb .wrap ul[class*=menu] > li > ul li {
    font-size: 13px;
    padding: 0 0 10px 15px;
    position: relative;

}

header nav .snb .wrap ul[class*=menu] > li > ul li::after {
    content: '\25B8';
    position: absolute;
    left: 0;
}

@media screen and (max-width: 900px) {
    html {
    font-size: 50%;
}

header section {
    height: 36px;
    background-color: #F5F5F5;
}

header section .wrap {
    padding: 3px 0;
}

header section h1 {
    height: 20px;
}

header section h1 a {
    height: 20px;
    width: 90px;
    margin-top: 5px;
}

header section .symbol {
    height: 20px;
    padding-left: 5px;
    margin-top: 5px;
}

header section .right {
    display: block;
}

header section .right .search_bar {
    display: none;
}

header nav {
    height: 36px;
}

header nav .m_bt {
    display: block;
    float: right;
    height: 36px;
    padding-right: 5px;
}

header nav .m_bt .msearch,
header nav .m_bt span.mopen {
    font-size: 30px;
    line-height: 36px;
}

/* header .visual {
    height: 208px;
    overflow: visible;
} */

/* header .visual .wrap .circle {
    top: 25px;
    right: 25px;
    width: 80px;
    height: 80px;
} */

/* header .visual .hd_slide {
    margin: auto;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 208px;
    border-radius: 0;
} */

/* header .visual .hd_slide .factor3 {
    background-size: cover;
} 지워 */

/* nav 나브*/
header nav .gnb {
    display: none;
}


header nav .snb {
    position: absolute;
    top: 36px;
    right: 0;
    left: unset;
    width: 50%;
    /* height: 0; */
    height: auto;
    overflow: hidden;
    background-color: #d8d8d8;
}

header nav .snb .wrap {
    max-width: 1200px;
    width: 98%;
}

header nav .snb .wrap ul[class*=menu] {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 50%;
    float: right;
}

header nav .snb .wrap ul[class*=menu] > li {
    flex: 1 0 100%;
    text-align: left;
    margin-bottom: 10px;
}

header nav .snb .wrap ul[class*=menu] > li a {
    background: #fff;
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    width: 100%;
}

header nav .snb .wrap ul[class*=menu] > li > ul{
    text-align: left;
    background-color: unset;
    padding-top: 10px;
}

header nav .snb .wrap ul[class*=menu] > li > ul li {
    font-size: 13px;
    padding: 0 0 10px 15px;
    position: relative;

}

header nav .snb .wrap ul[class*=menu] > li > ul li::after {
    content: '\25B8';
    position: absolute;
    left: 0;
}



}