@charset "utf-8";
@import url(./common.css);
@import url(./font.css);
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');


/* header */

header .visual {
    height: 580px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, rgba(255,255,255,0.1),rgba(255,255,255,0.8)), url('../img/main/visual_bg.png') center no-repeat;
    background-size: cover;
    /* animation: bg_move 8s linear 0.1ms infinite normal forwards; */
}

/* @keyframes bg_move {
    0% {
        background-size: 50%;
    }
    50% {
        background-size: 100%;
    }
    100% {
        background-size: 100%;
    }
} */

header .visual::after {
    content: url('../img/main/header_deco.svg');
    position: absolute;
    bottom: -3px;
    right: 0;
}

header .visual .wrap {
    max-width: 1200px;
    width: 98%;
    height: 100%;
    position: relative;

}

header .visual .wrap .circle  {
    position: absolute;
    top: 20px;
    right: 20px;
    background: url('../img/main/circle.svg') center no-repeat;
    background-size: contain; 
    width: 140px;
    height: 140px;
    animation: rotate 10s linear infinite;
    z-index: 10;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}

header .visual .hd_slide {
    float: right;
    margin: 90px 150px 0 0;
    width: 360px;
    height: 300px;
    border-radius: 30px;
}

header .visual .hd_slide div[class*=factor] {
    text-indent: -9999px;
}

header .visual .hd_slide .factor1 {
    background: url('../img/main/hd_slide1.png') center no-repeat;
}
header .visual .hd_slide .factor2 {
    background: url('../img/main/hd_slide2.png') center no-repeat;
}
header .visual .hd_slide .factor3 {
    background: url('../img/main/hd_slide3.png') center no-repeat;
}

header .visual .hd_slide .swiper-button-next,
header .visual .hd_slide .swiper-button-prev {
    color: #FBB03F;
}

/* sec1*/
body > .sec1 {
    height: 500px;
    /* background: linear-gradient(90deg, rgba(255,255,255, 0.6), rgba(255,255,255, 0.6)), url('../img/main/color_bg.png') center no-repeat; */
    background-size: cover;
}

body > .sec1 .wrap {
    max-width: 1160px;
    width: 98%;
    padding-top: 50px;
    position: relative;
}

body > .sec1 .wrap::before {
    content: '';
    position: absolute;
    /* top: 100px; */
    top: 20px;
    left: -11px;
    /* transform: translateX(-100%); */
    transform: translateX(-65%);
    max-width: 296px;
    width: 296px;
    /* padding-top: 83.7%; */
    height: 248px;
    background: url('../img/main/symbol_deco.svg') center no-repeat;
    background-size: contain;
    /* z-index: 50; */
    z-index: -1;
    
}

body > .sec1 .wrap .left {
    float: left;
    /* max-width: 568px; */
    max-width: 568px;
    width: 48.9%;
}

body > .sec1 .wrap .left h2 {
    font-weight: 400;
}

body > .sec1 .wrap .left h2 span {
    font-weight: 500;
    color: #EB6851;
}

body > .sec1 .wrap .left > p {
    padding: 10px 0 50px;
    color: #333;
    font-size: 1.4rem;
}

body > .sec1 .wrap .left .post_bt {
    height: 150px;
    border-radius: 30px;
    background: url('../img/main/letter_box.png') center no-repeat;
    background-size: cover;
    padding: 20px;
}

body > .sec1 .wrap .left .post_bt img + p {
    color: #333333;
    font-size: 12px;
}

body > .sec1 .wrap .left .post_bt img + p ~ p {
    font-size: 12px;
}

body > .sec1 .wrap .left .post_bt p:nth-of-type(2) {padding-top: 15px;}
body > .sec1 .wrap .left .post_bt p:nth-of-type(3) br {display: none;}


body > .sec1 .wrap .right {
    float: right;
    max-width: 568px;
    width: 48.9%;
    padding-right: 1.5%; 
    height: 400px;
}

body > .sec1 .wrap .right .tab {
    float: left;
    width: 28.6%;
    max-width: 160px;
    height: 100%;
    overflow: hidden;
    background-color: #F0907B;
}

body > .sec1 .wrap .right .tab div {
    height: 50px;
    line-height: 50px;
    position: relative;
}

body > .sec1 .wrap .right .tab div::before {
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
}

body > .sec1 .wrap .right .tab div::after {
    content: '';
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

body > .sec1 .wrap .right .tab div:nth-child(1)::after {
    background: url('../img/icon/icon_오해.svg') center no-repeat;
}
body > .sec1 .wrap .right .tab div:nth-child(2)::after {
    background: url('../img/icon/icon_확성기.svg') center no-repeat;
}

body > .sec1 .wrap .right .tab div a {
    color: #fff;
    font-size: 1.4rem;
    padding-left: 45px;
    height: inherit;
    line-height: inherit;
    display: inline-block;
    white-space: nowrap;
}

body > .sec1 .wrap .right .sec1_slide {
    height: 100%;
    width: 71.4%;
}

body > .sec1 .wrap .right .sec1_slide .swiper-wrapper:last-child {
    display: none;
}

body > .sec1 .wrap .right .sec1_slide div[class*=factor] {text-indent: -9999px;}

body > .sec1 .wrap .right .sec1_slide .factor1 {background: url('../img/main/오해/오해1.png') center no-repeat;}
body > .sec1 .wrap .right .sec1_slide .factor2 {background: url('../img/main/오해/오해2.png') center no-repeat;}
body > .sec1 .wrap .right .sec1_slide .factor3 {background: url('../img/main/오해/오해3.png') center no-repeat;}
body > .sec1 .wrap .right .sec1_slide .factor4 {background: url('../img/main/오해/오해4.png') center no-repeat;}
body > .sec1 .wrap .right .sec1_slide .factor5 {background: url('../img/main/오해/오해5.png') center no-repeat;}
body > .sec1 .wrap .right .sec1_slide .factor6 {background: url('../img/main/오해/오해6.png') center no-repeat;}
body > .sec1 .wrap .right .sec1_slide .factor7 {background: url('../img/main/오해/오해7.png') center no-repeat;}
body > .sec1 .wrap .right .sec1_slide .factor8 {background: url('../img/main/오해/오해8.png') center no-repeat;}
body > .sec1 .wrap .right .sec1_slide .factor9 {background: url('../img/main/오해/오해9.png') center no-repeat;}
body > .sec1 .wrap .right .sec1_slide .factor10 {background: url('../img/main/오해/오해10.png') center no-repeat;}

/* sec2 */
body > .sec2 {
    max-width: 1044px;
    width: 98%;
}

body > .sec2 .text_bg {
    height: 25px;
    background: url('../img/main/등록방법.svg') left center no-repeat;
    background-size: contain;
    margin: 30px 0;
}

body > .sec2 .icon_menu {
    display: flex;
    justify-content: space-between;
}

body > .sec2 .icon_menu li {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    background-color: #F0907B;
}

body > .sec2 .icon_menu li a {
    color: transparent;
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body > .sec2 .icon_menu li:nth-child(1) a {
    background: url('../img/icon/icon_온라인.svg') center no-repeat;
    background-size: contain;
}
body > .sec2 .icon_menu li:nth-child(2) a {
    background: url('../img/icon/icon_우편.svg') center no-repeat;
    background-size: contain;
}
body > .sec2 .icon_menu li:nth-child(3) a {
    background: url('../img/icon/icon_FAX.svg') center no-repeat;
    background-size: contain;
}
body > .sec2 .icon_menu li:nth-child(4) a {
    background: url('../img/icon/icon_면허증.svg') center no-repeat;
    background-size: contain;
}
body > .sec2 .icon_menu li:nth-child(5) a {
    background: url('../img/icon/icon_재발급.svg') center no-repeat;
    background-size: contain;
}

body > .sec2 .icon_menu li::after {
    font-size: 14px;
    position: absolute;
    transform: translate(-50%, 100%);
    left: 50%;
    bottom: -10px;
    width: 140px;
}

body > .sec2 .icon_menu li:nth-child(1)::after {content: '온라인 기증희망등록';}
body > .sec2 .icon_menu li:nth-child(2)::after {content: '우편등록';}
body > .sec2 .icon_menu li:nth-child(3)::after {content: 'FAX등록';}
body > .sec2 .icon_menu li:nth-child(4)::after {content: '운전면허 기증희망 표시';}
body > .sec2 .icon_menu li:nth-child(5)::after {content: '등록증 재발급';}

/* sec3 */
body > .sec3 {
    height: 300px;
    margin-top: 90px;
}

body > .sec3 .left{
    float: left;
    width: 24%;
    background-color: #F0907B;
    height: 100%;
    position: relative;
}

body > .sec3 .left ul {
    text-align: right;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

body > .sec3 .left ul li {padding-bottom: 60px;}
body > .sec3 .left ul li:last-child {padding-bottom: 0;}

body > .sec3 .left ul li a {
    color: #fff;
    position: relative;
    z-index: 10;
}

body > .sec3 .left ul li a.on::after{
    content: '';
    display: block;
    width: 150%;
    height: 166%;
    background-color: #FBB03F;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

body > .sec3 .right {
    float: left;
    width: 76%;
    background-color: #F0F0F0;
    height: 100%;
}

body > .sec3 .right div[class^=tab] {
    max-width: 1098px;
    width: 98%;
    height: inherit;
    position: relative;
    overflow: hidden;
}
body > .sec3 .right .tab1 {
    display: flex;
    display: none;
}

body > .sec3 .right .tab1 dl {
    flex: 1 0 33.33%;
    height: inherit;
    padding: 20px 0 0 30px;
    position: relative;
}

body > .sec3 .right .tab1 dl::after {
    content: '';
    height: 260px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #B2B2B2;
}

body > .sec3 .right .tab1 dl::before {
    content: '';
    width: 140px;
    height: 140px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

body > .sec3 .right .tab1 dl:nth-child(1):before {
    background: url('../img/icon/icon_장기기증.svg') center no-repeat;
    background-size: contain;
}
body > .sec3 .right .tab1 dl:nth-child(2):before {
    background: url('../img/icon/icon_인체조직.svg') center no-repeat;
    background-size: contain;
}
body > .sec3 .right .tab1 dl:nth-child(3):before {
    background: url('../img/icon/icon_조혈모세포.svg') center no-repeat;
    background-size: contain;
}

body > .sec3 .right .tab1 dl dt {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;  
}

body > .sec3 .right .tab1 dl dd {
    max-width: 258px;
    position: relative;
    z-index: 10;
}

body > .sec3 .right .tab1 dl a {
    position: absolute;
    color: #fff;
    display: block;
    padding: 4px 10px;
    background-color: #FBB03F;
    z-index: 10;
}

body > .sec3 .right .tab1 dl a:hover {
    background-color: #EB6851;
}

body > .sec3 .right .tab1 dl a:nth-of-type(1) {
    bottom: 70px;
}
body > .sec3 .right .tab1 dl a:nth-of-type(2) {
    bottom: 70px;
    left: 90px;
}
body > .sec3 .right .tab1 dl a:nth-of-type(3) {
    bottom: 28px;
}
/* tab2 */
body > .sec3 .right .tab2 {
    display: none;
}

body > .sec3 .right .tab2 dl {
    float: left;
    width: 50%;
    height: 50%;
    padding: 20px 30px 0;
    position: relative;
}

body > .sec3 .right .tab2 dl dt {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

body > .sec3 .right .tab2 dl a {
    color: #fff;
    background-color: #FBB03F;
    position: absolute;
    padding: 4px 20px;
    right: 30px;
    bottom: 12px;
}

body > .sec3 .right .tab2 dl:last-child a {
    right: unset;
}

body > .sec3 .right .tab2 dl:last-child::after {
    content: '';
    width: 150px;
    height: 150px;
    background: url('../img/icon/icon_선정기준.svg') center no-repeat;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* tab3 */
body > .sec3 .right .tab3::after {
    content: url('../img/main/sec3_deco1.svg');
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(3%, -62%);
    z-index: 1;
}
body > .sec3 .right .tab3::before {
    content: url('../img/main/sec3_deco2.svg');
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-15%, 60%);
    z-index: 1;
}

body > .sec3 .right .tab3 dl {
    padding: 20px 0 0 30px;
    width: 630px;
    position: relative;
    z-index: 10;
}

body > .sec3 .right .tab3 dl dt {
    font-size: 20px;
    font-weight: 500;
}


body > .sec3 .right .tab3 dl dd:nth-of-type(1) {
    padding-bottom: 25px;
}

body > .sec3 .right .tab3 dl dd:nth-of-type(3) {
    padding: 9px 0;
}

body > .sec3 .right .tab3 dl dd br {display: none;}


body > .sec3 .right .tab3 dl a {
    color: #fff;
    background-color: #FBB03F;
    position: absolute;
    padding: 4px 20px;
    right: 0;
    bottom: -30px;
    transform: translateY(100%);
}

/* sec4 */
body > .sec4 {
    max-width: 1160px;  
    width: 98%;
    margin-top: 60px;
}

body > .sec4 .left {
    float: left;
    width: 50%;
}

body > .sec4 .left nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #F0907B;
    color: #fff;
}

body > .sec4 .left nav ul li {
    float: left;
}

body > .sec4 .left nav ul li a {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    width: 110px;
    text-align: center;
}

body > .sec4 .left nav ul li a:hover {
    background-color: #EB6851;
}

body > .sec4 .left nav > a {
    padding-right: 10px;
}

body > .sec4 .left ul[class^=bundle] {
    padding: 20px 10px;
    background-color: #F0F0F0;
}

body > .sec4 .left ul[class^=bundle] li {
    overflow: hidden;
    padding-bottom: 20px;
}
body > .sec4 .left ul[class^=bundle] li:last-child {
    padding-bottom: 0;
}

body > .sec4 .left ul[class^=bundle] li a {
    float: left;
    font-size: 1.4rem;
}

body > .sec4 .left ul[class^=bundle] li span {
    float: right;
    color: #333;
    font-size: 1.4rem;
}
/* right */

body > .sec4 .right {
    float: right;
    width: 48.9%;
    border:1px solid #B2B2B2;
    height: 295px;
}

body > .sec4 .right .icon_menu {
    width: 44%;
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F0F0F0;
}

body > .sec4 .right .icon_menu li {
    flex: 1 0 auto;
    position: relative;
}

body > .sec4 .right .icon_menu li::before {
    content: '';
    display: block;
    width: 94%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #B2B2B2;
}

body > .sec4 .right .icon_menu li:last-child:before {
    display: none;
}

body > .sec4 .right .icon_menu li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 65px;
    height: 65px;
}

body > .sec4 .right .icon_menu li:nth-child(1):after {
    background: url('../img/icon/icon_민원처리.svg') center no-repeat;
    background-size: contain;
}
body > .sec4 .right .icon_menu li:nth-child(2):after {
    background: url('../img/icon/icon_장기매매.svg') center no-repeat;
    background-size: contain;
}
body > .sec4 .right .icon_menu li:nth-child(3):after {
    background: url('../img/icon/icon_국외.svg') center no-repeat;
    background-size: contain;
}
body > .sec4 .right .icon_menu li:nth-child(4):after {
    background: url('../img/icon/icon_신고센터.svg') center no-repeat;
    background-size: contain;
}

body > .sec4 .right .icon_menu li a {
    font-size: 14px;
    display: inline-block;
    padding: 10px 0 0 70px;
    font-weight: 500;
}

body > .sec4 .right .icon_menu li a br{display: none;}


body > .sec4 .right .popup {
    float: left;
    width: 56%;
    height: 100%;
    position: relative;
}

body > .sec4 .right div[class*=factor] {
    text-indent: -9999px;
}

body > .sec4 .right .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 44px;
    background-color: rgba(196,196,196,0.7);
    z-index: 10;
}

body > .sec4 .right .title::after {
    content: '';
    display: block;
    width: 100%;
    height: inherit;
    background: url('../img/main/팝업존.svg') left center no-repeat;
    background-size: contain;
}

body > .sec4 .right .factor1 {
    background: url('../img/main/나눔온택트.png') center no-repeat;
    background-size: cover;
}
body > .sec4 .right .factor2 {
    background: url('../img/main/비긴\ 어게인.png') top center no-repeat;
    background-size: cover;
}

body > .sec4 .right .swiper-pagination {
    --swiper-theme-color: #EB6851;
}

/* sec5 */
body > .sec5 {
    height: 550px;
    background-color: rgba(251, 176, 63, 0.15);
    margin-top: 60px;
    padding-top: 30px;
    text-align: center;
    position: relative;
    z-index: -1;
}

body > .sec5::after {
     content : '';
     display: block;
     width: 100%;
     height: 410px;
     background: url('../img/main/sec5_deco.svg') center no-repeat;
     background-size: contain;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
    z-index: -1;
}

body > .sec5 h3 span {
    color: #EB6851;
}

body > .sec5 > p {
    font-size: 14px;
    color: #333;
    position: relative;
    padding-top: 3px;
    display: inline-block;
}

body > .sec5 > p::before {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #B2B2B2;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}

body > .sec5 > p::after {
    content: '장기등 조직 기증희망 등록은 미래에 사후 또는 뇌사시 기증희망 의사표시입니다.';
    font-size: 12px;
    color: inherit;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 400px;
}

body > .sec5 .statistics {
    max-width: 1160px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

body > .sec5 .statistics div[class*=factor] {
    width: 21.5%;
    border-radius: 20px;
    background-color: #F0F0F0;
    height: 240px;
    overflow: hidden;
}

body > .sec5 .statistics div[class*=factor] p:first-child {
    height: 70px;
    line-height: 70px;
    background-color: #F0907B;
    color: #fff;
    text-align: center;
}

body > .sec5 .statistics div[class*=factor] p:last-child {
    margin-top: 58px;
    font-size: 35px;
    font-weight: 700;
    position: relative;
}

body > .sec5 .statistics div[class*=factor] p:last-child::before {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    font-size: 16px;
    color: #333;
    width: 100%;
}

body > .sec5 .statistics div.factor2 p:last-child::before {content: '매일';}
body > .sec5 .statistics div.factor3 p:last-child::before {content: '평균 대기 시간';}
body > .sec5 .statistics div.factor4 p:last-child::before {content: '전체 인구 중';}

/* .sec6 */
body > .sec6 {
    max-width: 996px;
    width: 98%;
    margin-top: 118px;
    height: 360px;
}

body > .sec6 .left{
    float: left;
    width: 59%;
    height: inherit;
    position: relative;
}

body > .sec6 .left .title {
    position: absolute;
    left: 20px;
    top: -20px;
    transform: translateY(-100%);
    height: 25px;
    width: 50%;
    background: url('../img/main/주요기관.svg') left center no-repeat;
    background-size: contain;     
}

body > .sec6 .left .tab_bar{
    float: left;
    width: 21.7%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F0907B;
    border-radius: 20px 0 0 20px;
    text-align: center;
    color: #fff;
}

body > .sec6 .left .tab_bar li{
    flex: 1 0 auto;
}

body > .sec6 .left .tab_bar li a {
    display: inline-block;
    height: 72px;
    line-height: 72px;
}

body > .sec6 .left div[class*=tab] {
    float: left;
    width: 78.3%;
    background-color: #F0F0F0;
    border-radius: 0 20px 20px 0;
    height: inherit;
    padding: 20px 0 0 20px;
}

body > .sec6 .left div[class*=tab] div[class^=select] {
    margin-bottom: 20px;
}

body > .sec6 .left div[class*=tab] div[class^=select] p {
    padding-bottom: 10px;
    font-weight: 500;
}

body > .sec6 .left div[class*=tab] div[class^=select] div[class*=bt_box] {
    display: inline-block;
    width: 57%;
    padding: 3px 10px;
    position: relative;
    border: 1px solid #B2B2B2;
    border-radius: 50px;
}

body > .sec6 .left div[class*=tab] div[class^=select] div[class*=bt_box] button {
    font-size: 14px;
    position: relative;
    width: 100%;
    text-align: left;
    border: none;
}

body > .sec6 .left div[class*=tab] div[class^=select] div[class*=bt_box] button span {
    font: normal 400 14px 'Noto Sans KR', sans-serif;
}

body > .sec6 .left div[class*=tab] div[class^=select] div[class*=bt_box] button::after {
    content: '\e5cf';
    display: inline-block;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

body > .sec6 .left div[class*=tab] div[class^=select] div[class*=bt_box] ul {
    position: absolute;
    display: none; /*scrollToggle로 적용시켜보기*/
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    border: 1px solid #B2B2B2;
    height: 172px;
    overflow-y: scroll;
    z-index: 10;
}

body > .sec6 .left div[class*=tab] div[class^=select] div[class*=bt_box] ul li {
    padding: 5px 10px;
}
body > .sec6 .left div[class*=tab] div[class^=select] div[class*=bt_box] ul li a{
    font-size: 14px;
}

body > .sec6 .left div[class*=tab] div[class^=select] .submit {
    font-size: 14px;
    padding: 4px 5px;
    border-radius: 5px;
    border: none;
    background-color: #FBB03F;
    color: #fff;
    margin-left: 10px;
}

/* right */
body > .sec6 .right {
    float: right;
    width: 39%;
    height: inherit;
    border-radius: 20px;
    position: relative;
}

body > .sec6 .right .title {
    position: absolute;
    left: 20px;
    top: -20px;
    transform: translateY(-100%);
    height: 25px;
    width: 50%;
    background: url('../img/main/히어로뉴스.svg') left center no-repeat;
    background-size: contain;     
}

body > .sec6 .right .hero {
    height: inherit;
    width: 100%;
    border-radius: 20px;
}
body > .sec6 .right .hero div[class*=factor] {
    text-indent: -9999px;
}

body > .sec6 .right .hero .factor1 {
    background: url('../img/main/9월.png') center no-repeat;
    background-size: cover;
}
body > .sec6 .right .hero .factor2 {
    background: url('../img/main/8월.png') center no-repeat;
    background-size: cover;
}
body > .sec6 .right .hero .factor3 {
    background: url('../img/main/7월.png') center no-repeat;
    background-size: cover;
}
body > .sec6 .right .hero .factor4 {
    background: url('../img/main/6월.png') center no-repeat;
    background-size: cover;
}
body > .sec6 .right .hero .factor5 {
    background: url('../img/main/5월.png') center no-repeat;
    background-size: cover;
}

body > .sec6 .right .hero .swiper-button-next, 
body > .sec6 .right .hero .swiper-button-prev {
    color: #FBB03F;
}

body > .sec6 .right .hero .swiper-pagination {display: none;}

/* sec7 */
body > .sec7 {
    margin-top: 60px;
    height: 445px;
    padding-top: 55px;
    background: linear-gradient(90deg, rgba(255,255,255,0.6), rgba(255,255,255,0.6)) ,url('../img/main/sec7_bg.png') center no-repeat;
    z-index: -1;
}

body > .sec7 .wrap {
    max-width: 1054px;
    width: 98%;
    height: auto;
    position: relative;
    /* overflow: hidden; */
}

body > .sec7 .wrap::after {
    content: '';
    display: block;
    width: 250px;
    height: 250px;
    background: url('../img/main/brush_deco1.png') center no-repeat;
    background-size:  contain;
    position: absolute;
    left: -4%;
    bottom: -30%;
    z-index: 0;
}

body > .sec7 .title {
    height: 40px;
    background: url('../img/main/sec7_title.svg') left center no-repeat;
    background-size: contain;
    position: relative;
    margin-bottom: 25px;
    z-index: 10;
}

body > .sec7 .title::after {
    content: '생명나눔 서약릴레이 시즌4';
    position: absolute;
    top: 0;
    left: -2px;
    transform: translateY(-100%);
    font-size: 16px;
    font-weight: 500;
    color: #F0907B;
}

body > .sec7 .video_link {
    max-width: 958px;
    position: static;
    z-index: 20;
}

body > .sec7 .video_link div[class*=factor] {
    width: 306px;
    height: 235px;
    text-indent: -9999px;
    z-index: 10;
}

body > .sec7 .video_link .factor1 {
    background: url('../img/main/sec7_img1.png') center no-repeat;
    background-size: cover;
}
body > .sec7 .video_link .factor2 {
    background: url('../img/main/sec7_img2.png') center no-repeat;
    background-size: cover;
}
body > .sec7 .video_link .factor3 {
    background: url('../img/main/sec7_img3.png') center no-repeat;
    background-size: cover;
}
body > .sec7 .video_link .factor4 {
    background: url('../img/main/sec7_img4.png') center no-repeat;
    background-size: cover;
}
body > .sec7 .video_link .factor5 {
    background: url('../img/main/sec7_img5.png') center no-repeat;
    background-size: cover;
}
body > .sec7 .video_link .factor6 {
    background: url('../img/main/sec7_img6.png') center no-repeat;
    background-size: cover;
}

body > .sec7 .video_link .swiper-button-next,
body > .sec7 .video_link .swiper-button-prev {
    --swiper-theme-color: #EB6851;
    top: 55%;
}

body > .sec7 .video_link .swiper-button-next {right: 0;}    
body > .sec7 .video_link .swiper-button-prev {left: 0;}    

body > .sec7 .video_link .swiper-pagination {display: none;}    
